body{
	background-color: white;
}

.firstContainer{
	background-image:url(pexels-rishi-ramoutar-3463164-5176713.jpeg);
	background-size: auto;
    background-position: center top;
    width: 100%;
	height: 100%max-content;
    opacity: 0.5;
}

.welcomeBaby{
    font-size: xx-large;
    display: flex;
    justify-content: center;
	font-style: oblique;
}

.welcomeText{
	display: flex;
	justify-content: center;
}

.flexingButton{
	display: flex;
	align-items: center;
	justify-content: center;
}

#readButton{
	border-radius: 50px;	
	background-color: blanchedalmond;
}